# Ignore the Zsh history file
.zsh/.zsh_history

# Ignore some nvim files
.config/nvim/lazy-lock.json
.config/nvim/.luarc.json
nvim/lazy-lock.json
nvim/.luarc.json

# Ignore temp files
.config/hypr/wallpapers
.config/hypr/store
.config/composer
.config/thefuck
.config/gh
.config/go

# Ignore duplicate gitconfig
.gitconfig
