/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* Import the color definitions */
@import url("/home/ovsiankina/dotfiles/.config/hypr/component/waybar/catppuccin_macchiato.css");
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @macchiato-base;
    }
    to {
        color: @macchiato-base;
        background-color: @macchiato-peach;
    }
}

@keyframes blink-critical {
    70% {
        color: @macchiato-base;
    }
    to {
        color: @macchiato-base;
        background-color: @macchiato-red;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 30%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient_f {
    0% {
        background-position: 0% 200%;
    }
    50% {
        background-position: 200% 0%;
    }
    100% {
        background-position: 400% 200%;
    }
}

@keyframes gradient_f_nh {
    0% {
        background-position: 0% 200%;
    }
    100% {
        background-position: 200% 200%;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    font-size: 12px;
    border-radius: 0 0 5px 5px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: transparent;
    color: @macchiato-text;
    font-family: Fira Code;
    font-size: 13px;
    font-weight: bolder;
}

/* Each module */
#battery,
#network,
#backlight,
#custom-updates,
#pulseaudio {
    border-radius: 12px 0 0 12px;
    min-height: 0;
    margin-left: -12;
    padding-left: 15;
    padding-right: 25;
}

#cava,
#clock {
    padding-left: 15;
    padding-right: 15;
    border-radius: 0 0 12px 12px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

/* hyprland/workspaces */
#workspaces {
    background-color: @macchiato-base;
}
#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    color: @macchiato-overlay1;
    border-radius: 0px;
}

#workspaces button.active {
    border-top: 2px solid @macchiato-sapphire;
    border-bottom: 2px solid @macchiato-sapphire;
    color: @macchiato-sapphire;
}

#workspaces button.urgent {
    border-top: 2px solid @macchiato-red;
    border-bottom: 2px solid @macchiato-red;
    color: @macchiato-red;
}

#workspaces button:first-child {
    border-radius: 0 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 0 5px 0;
}

/* cava */
#cava {
    background-color: @macchiato-base;
}

/* custom/dynamic_pill */
#custom-dynamic_pill.low {
    background: linear-gradient(52deg, @macchiato-green 0%, @macchiato-teal 19%, @macchiato-sky 43%, @macchiato-blue 56%, @macchiato-lavender 80%, @macchiato-surface0 100%);
    background-size: 300% 300%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    animation: gradient 15s ease infinite;
    font-weight: bolder;
    color: @macchiato-base;
}

#custom-dynamic_pill.normal {
    background: radial-gradient(circle, @macchiato-green 0%, @macchiato-flamingo 21%, @macchiato-yellow 34%, @macchiato-green 35%, @macchiato-peach 59%, @macchiato-green 74%, @macchiato-pink 100%);
    background-size: 400% 400%;
    animation: gradient_f 4s ease infinite;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    font-weight: bolder;
    color: @macchiato-base;
}

#custom-dynamic_pill.critical {
    background: linear-gradient(52deg, @macchiato-red 0%, @macchiato-flamingo 30%, @macchiato-maroon 48%, @macchiato-peach 77%, @macchiato-yellow 100%);
    background-size: 300% 300%;
    animation: gradient 15s cubic-bezier(.55,-0.68,.48,1.68) infinite;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    font-weight: bolder;
    color: @macchiato-base;
}

#custom-dynamic_pill.playing {
    background: radial-gradient(circle, @macchiato-blue 0%, @macchiato-teal 6%, @macchiato-green 14%, @macchiato-sky 28%, @macchiato-lavender 100%);
    background-size: 400% 400%;
    animation: gradient_f 9s cubic-bezier(.72,.39,.21,1) infinite;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    color: @macchiato-base;
}

#custom-dynamic_pill.paused {
    background: @crust;
    font-weight: bolder;
    color: @macchiato-lavender;
}

#custom-updates {
    background-color: @macchiato-base;
    color: @macchiato-red;
}

/* backlight */
#backlight {
    color: @macchiato-peach;
    background-color: @macchiato-base;
}

/* pulseaudio */
#pulseaudio {
    background-color: @macchiato-base;
    color: @macchiato-yellow;
    font-weight: bolder;
}

#pulseaudio.muted {
    background-color: @macchiato-overlay1;
}

/* network */
#network {
    background-color: @macchiato-base;
  color: @macchiato-green;
}

#network.disconnected {
    background: linear-gradient(45deg, @macchiato-red 0%, @macchiato-base 100%);
    color: @macchiato-overlay1;
    font-weight: bolder;
    padding-top: 3px;
    padding-right: 11px;
}

/* battery */
#battery {
    background-color: @macchiato-base;
    color: @macchiato-blue;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @macchiato-peach;
}

#battery.critical {
    color: @macchiato-red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#battery.charging, #battery.plugged {
    background-color: @macchiato-green;
    color: @macchiato-crust;
}

/* custom/test */
/* No styles provided */

/* custom/test2 */
/* No styles provided */

/* custom/ss */
#custom-ss {
    background-color: @macchiato-base;
    color: @macchiato-mauve;
}

/* clock */
#clock {
    background-color: @macchiato-base;
    font-weight: bold;
}

/* -----------------------------------------------------------------------------
 * Media styling
 * -------------------------------------------------------------------------- */

/* Media styling */
#media {
    /* No styles provided */
}

#media svg {
    color: @macchiato-pink;
    padding-right: 2px;
}

#media.paused {
    color: @macchiato-overlay2;
}

#media.stopped {
    color: @macchiato-text;
}

