/* Reset all styles */
/* The whole bar */
* { 
    padding: 0px;
    margin: -1px;
}

#waybar {
    background: #323232;
    color: white;
    font-family: Fira Code;
    font-size: 10px;
    font-weight: bolder;
}

#custom-Color1 {
  background-color: #EC8695;
  min-width: 100px;
}
#custom-Color2 {
  background-color: #F5A97F;
  min-width: 100px;
}
#custom-Color3 {
  background-color: #EED49F;
  min-width: 100px;
}
#custom-Color4 {
  background-color: #A6DA95;
  min-width: 100px;
}
#custom-Color5 {
  background-color: #7DC4E4;
  min-width: 100px;
}
#custom-Color6 {
  background-color: #C6A0F6;
  min-width: 100px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 1px;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}
